<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="selectProductList">
SELECT
		  P_ID
      	, (SELECT P_IMG1 FROM TB_PRODUCT_IMG I WHERE I.P_ID = P.P_ID) "P_PICTURE"
    	, P_NAME
    	, P_NETPRICE
    	, P_STOCK
    	, TO_CHAR(P_ENROLL_DATE, 'YY/MM/dd') "P_ENROLL_DATE"
    	, P_SALES
    	, (SELECT CATEGORY_NAME FROM TB_CATEGORY C WHERE C.CATEGORY_NO = P.CATEGORY_NO) "CATEGORY_NAME"
    	, (SELECT DISCOUNT_RATE FROM TB_DISCOUNT D WHERE D.P_ID = P.P_ID) DISCOUNT_RATE
    	, P_DAY_DELIVERY
    	, P_RETURN_YN
    	, P_GIFT
  FROM 	TB_PRODUCT P
 WHERE 	SEL_NO = ?
   AND  P_TAG_YN = 'Y'
</entry>

<entry key="selectCategoryList">
SELECT
		CATEGORY_NO
	  , CATEGORY_DETAIL
	  , CATEGORY_NAME
  FROM 
  		TB_CATEGORY
</entry>

<entry key="insertProduct">
INSERT
  INTO TB_PRODUCT(
        P_ID
        , P_NAME
        , P_NETPRICE
        , P_DETAIL
        , P_STOCK
        , P_ENROLL_DATE
        , P_RETURN_YN
        , P_TAG_YN <!-- 이게 STATUS -->
        , P_SALES
        , P_DAY_DELIVERY
        , P_GIFT
        , SEL_NO
        , CATEGORY_NO
      ) 
VALUES(SEQ_PRODUCT.NEXTVAL
        , ?
        , ?
        , ?
        , ?
        , SYSDATE
        , ?
        , 'Y'
        , 0
        , ?
        , ?
        , ?
        , ?
        )
</entry>

<entry key="insertProductImg">
INSERT
  INTO TB_PRODUCT_IMG
        ( 
          P_ID
        , P_IMG1
        , P_IMG2
        , P_IMG3
        , P_IMG4
        , P_IMG5
        , P_IMG6
        , P_IMG7
        , P_IMG8
        , P_IMG9
        , P_IMG10
        )
VALUES
        (
       (select Last_number-1 PRODUCT from user_sequences where sequence_name='SEQ_PRODUCT')
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        )
</entry>

<entry key="insertOptionOne">
INSERT 
  INTO TB_1ST_OPTION
       (
          OPTION_1ND_NO
        , OPTION_TITLE
        , P_ID
       )
VALUES
        (
          SEQ_1ST_OPTION.NEXTVAL
        , ?
        , (select Last_number-1 PRODUCT from user_sequences where sequence_name='SEQ_PRODUCT')
        )
</entry>

<entry key="insertOptionTwo">
INSERT
  INTO TB_2ND_OPTION
        ( OPTION_2ND_NO
        , OPTION_2ND_CONTENT
        , OPTION_2ND_PRICE
        , OPTION_2ND_STOCK
        , OPTION_1ND_NO
        )
VALUES
        (
        SEQ_2ST_OPTION.NEXTVAL
        , ?
        , ?
        , ?
        , (select Last_number-1 OPTION_1ST from user_sequences where sequence_name='SEQ_1ST_OPTION')
        )
</entry>

<entry key="insertDiscount">
INSERT 
  INTO TB_DISCOUNT
  		(
  		  P_ID
		, DISCOUNT_RATE
  		)
VALUES
		(
		  (select Last_number-1 PRODUCT from user_sequences where sequence_name='SEQ_PRODUCT')
		, ?
		)
</entry>

<entry key="selectProduct">
SELECT 
		P.P_ID
		,P_NAME
		,P_NETPRICE
		,P_DETAIL
		,P_STOCK
		,P_RETURN_YN
		,P_TAG_YN
		,P_DAY_DELIVERY
		,P_GIFT,SEL_NO
		,CATEGORY_NO
        ,(SELECT COUNT(*) FROM TB_1ST_OPTION O WHERE O.P_ID = P.P_ID) optionOne
        ,P_IMG1
        ,P_IMG2
        ,P_IMG3
        ,P_IMG4
        ,P_IMG5
        ,P_IMG6
        ,P_IMG7
        ,P_IMG8
        ,P_IMG9
        ,P_IMG10
        ,NVL((SELECT DISCOUNT_RATE FROM TB_DISCOUNT D WHERE P.P_ID = D.P_ID),0) DISCOUNT_RATE
  FROM 
  		TB_PRODUCT P
  JOIN  TB_PRODUCT_IMG I ON(P.P_ID = I.P_ID)
  WHERE P.P_ID = ?
   AND  P_TAG_YN = 'Y'
</entry>

<entry key="selectOptionOne">

SELECT 
       OPTION_1ND_NO
     , OPTION_TITLE
     , P_ID
  FROM TB_1ST_OPTION
 WHERE P_ID =?

</entry>

<entry key="selectOptionTwo">
SELECT 
   	 	  OPTION_2ND_NO
    	, OPTION_2ND_CONTENT
    	, OPTION_2ND_PRICE
    	, OPTION_2ND_STOCK
    	, OPTION_1ND_NO
  FROM TB_2ND_OPTION
 WHERE OPTION_1ND_NO = ?
</entry>
 
<entry key="selectDiscount">
SELECT DISCOUNT_RATE
  FROM TB_DISCOUNT
 WHERE P_ID = ?
</entry>

<entry key="deleteProduct">
UPDATE TB_PRODUCT
   SET P_TAG_YN = 'N'
 WHERE P_ID = ?
</entry>
<entry key="selectReviewList">
SELECT 
    REVIEW_ID
    ,R.P_ID P_ID
    ,REVIEW_RATING
    ,REVIEW_DETAIL
    ,REVIEW_IMG
    ,REVIEW_REPLY
    ,REVIEW_ADD_DATE
    ,(SELECT MEM_ID FROM TB_MEMBER M WHERE M.MEM_ID = O.MEM_ID) MEM_ID
FROM TB_REVIEW R
JOIN TB_MEM_ORDER_DETAIL O USING(OD_ID)
   WHERE O.P_ID IN (SELECT P.P_ID FROM TB_PRODUCT P WHERE SEL_NO = ?)
ORDER BY REVIEW_ADD_DATE DESC
</entry>

<entry key="refundList">
SELECT 
    OD_ID
    , REFUND_TYPE
    , REFUND_TITLE
    , REFUND_COMMENT
    , REFUND_IMG
    , REFUND_APPROVAL_STATUS
    , REFUND_STATUS
    , (SELECT P_NAME FROM TB_PRODUCT P WHERE D.P_ID = P.P_ID) P_NAME
FROM TB_MEM_REFUND
JOIN TB_MEM_ORDER_DETAIL D USING(OD_ID)
WHERE D.P_ID IN(SELECT P.P_ID FROM TB_PRODUCT P WHERE SEL_NO = ?)
  AND REFUND_TYPE = ?
</entry>
<!-- ap 1 승인 대기 2 승인, 3 거부-->
<entry key="updateRefund">
UPDATE TB_MEM_REFUND
   SET REFUND_APPROVAL_STATUS = 3,
       REFUND_STATUS = 3
 WHERE OD_ID =?
 </entry>
<!-- 1 점수 2 처리중 3 저리환로 -->
<entry key="suRefund">
UPDATE TB_MEM_REFUND
   SET REFUND_APPROVAL_STATUS = 2,
       REFUND_STATUS = 2
 WHERE OD_ID = ?
 </entry>
 
 
</properties>