<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="selectProductList">
SELECT
      	  (SELECT P_IMG1 FROM TB_PRODUCT_IMG I WHERE I.P_ID = P.P_ID) "P_PICTURE"
    	, P_NAME
    	, P_NETPRICE
    	, P_STOCK
    	, TO_CHAR(P_ENROLL_DATE, 'YY/MM/dd') "P_ENROLL_DATE"
    	, P_SALES
    	, (SELECT CATEGORY_NAME FROM TB_CATEGORY C WHERE C.CATEGORY_NO = P.CATEGORY_NO) "CATEGORY_NAME"
  FROM 	TB_PRODUCT P
 WHERE 	SEL_NO = ?
</entry>
<entry key="selectCategoryList">
SELECT
		CATEGORY_NO
	  , CATEGORY_DETAIL
	  , CATEGORY_NAME
  FROM 
  		TB_CATEGORY
</entry>

<entry key="insertProduct">
INSERT
  INTO PRODUCT(
        P_ID
        , P_NAME
        , P_NETPRICE
        , P_DETAIL
        , P_STOCK
        , P_ENROLL_DATE
        , P_RETURN_YN
        , P_TAG_YN
        , P_SALES
        , P_DAY_DELIVERY
        , P_GIFT
        , SEL_NO
        , CATEGORY_NO
      ) 
VALUES(SEQ_PRODUCT.NEXTVAL
        , ?
        , ?
        , ?
        , ?
        , SYSDATE
        , ?
        , ?
        , 0
        , ?
        , ?
        , ?
        , ?
        )
</entry>

<entry key="insertOptionOne">
INSERT 
  INTO TB_1ST_OPTION
       (
          OPTION_1ND_NO
        , OPTION_TITLE
        , P_ID
       )
VALUES
        (
          SEQ_1ST_OPTION.NEXTVAL
        , ?
        , SEQ_PRODUCT.CURRVAL
        )
        
</entry>

<entry key="insertOptionTwo">
INSERT
  INTO TB_2ND_OPTION
        ( OPTION_2ND_NO
        , OPTION_2ND_CONTENT
        , OPTION_2ND_PRICE
        , OPTION_2ND_STOCK
        , OPTION_1ND_NO
        )
VALUES
        (
        SEQ_2ST_OPTION.NEXTVAL
        , ?
        , ?
        , ?
        , SEQ_1ST_OPTION.CURRVAL
        )
</entry>


</properties>