<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../../resources/js/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="../../resources/css/myPage2.css">
    
    <script>
        $(function(){
            $('.subMenu').hide();
            $('#mainMenu>li').mouseenter(function(){
                $(this).find('.subMenu').slideDown();
            }).mouseleave(function(){
                $('.subMenu').stop().slideUp();
            });
        });
    </script>
    
</head>
<body>
    <div class="sideBar">
        <div class="my-menu">MY MENU</div> 
        <nav>
            <ul id="mainMenu">
                <li><a href="#">회원정보관리</a></li> <br>
                <li><a href="#">주문내역</a> </li> <br>
                <li><a href="#">장바구니</a></li> <br>
                <li><a href="#">관심리스트</a> <br>
                    <ul class="subMenu">
                        <li><a href="#">찜한 상품</a></li>
                        <li><a href="#">찜한 가게</a></li> <br>
                    </ul>
                </li>
                <li><a href="#">후기</a> <br>
                    <ul class="subMenu">
                        <li><a href="#">구매후기 쓰기</a></li>
                        <li><a href="#">내가 작성한 후기</a></li> <br>
                    </ul>
                </li>
                <li><a href="#">고객센터</a> <br>   
                </li>
            </ul>
        </nav>
    </div>
    <div class="main_1"><h2>메인</h2></div>
</body>
</html>