<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	<entry key="loginMember">
		SELECT
		 	MEM_ID
			,MEM_PW
			,MEM_EMAIL
			,MEM_NAME
			,MEM_PHONE
			,MEM_POSTAL
			,MEM_STREET
			,MEM_ADDRESS
			,MEM_ENROLL_DATE
			,MEM_MILEAGE
			,MEM_IMG
			,MEM_GET_PHONE
			,MEM_BIRTHDATE
			,MEM_GENDER
			,MEM_STATUS
		FROM TB_MEMBER
		WHERE MEM_ID = ? AND MEM_PW = ?
	</entry>
	
	<entry key="insertMember">
	INSERT
    INTO 
    TB_MEMBER
    (
         MEM_ID
        ,MEM_PW
        ,MEM_EMAIL
        ,MEM_NAME
        ,MEM_PHONE
        ,MEM_POSTAL
        ,MEM_STREET
        ,MEM_ADDRESS
        ,MEM_ENROLL_DATE
        ,MEM_GET_PHONE
        ,MEM_BIRTHDATE
        ,MEM_GENDER
        ,MEM_STATUS
        )
    VALUES
    (
         ?
        ,?
        ,?
        ,?
        ,?
        ,?
        ,?
        ,?
        ,SYSDATE
        ,'N'
        ,TO_DATE(?)
        ,?
        ,'Y'
        )
	
	</entry>
	
	<entry key="findId">
	SELECT MEM_ID
	FROM TB_MEMBER
	WHERE MEM_NAME = ? AND MEM_EMAIL = ?
	</entry>
	
	<entry key="findPw">
	SELECT MEM_EMAIL
	FROM TB_MEMBER
	WHERE MEM_ID = ?
	</entry>
	
	<entry key="findOrderNo">
	SELECT 
		ORD_ID
	FROM TB_NON_MEMBER_ORDER
	WHERE ORD_RECEIVER_NAME = ?
			 AND 
			 ORD_RECEIVER_PHONE = ?
	</entry>
	
	
	
	<!-- 아이디 중복확인 -->
	<entry key="idCheck">
	SELECT
        COUNT (*) "COUNT"
    FROM TB_MEMBER
    WHERE MEM_ID = ?
	
	</entry>
</properties>

