<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	<entry key="selectBestProduct">
		SELECT B.*
			FROM (SELECT ROWNUM RNUM, A.* 
			      FROM(SELECT P_ID, P_NAME, NVL(REVIEW_RATING, 0) AS "REVIEW_RATING", COUNT(REVIEW_RATING) AS "COUNT" ,P_NETPRICE, P_IMG1, P_ENROLL_DATE
			        FROM TB_REVIEW
			        RIGHT JOIN TB_PRODUCT USING (P_ID)
			        LEFT JOIN TB_PRODUCT_IMG USING (P_ID)
			        GROUP BY P_ID, P_NAME, REVIEW_RATING,P_NETPRICE, P_IMG1, P_ENROLL_DATE
			        ORDER BY P_ENROLL_DATE ASC) A ) B
			WHERE RNUM BETWEEN 1 AND 20
	</entry>
	
	<entry key="selectSaleOrderProduct">
		SELECT B.*
			FROM (SELECT ROWNUM RNUM, A.*
			      FROM (SELECT O.P_ID, P_NAME, NVL(REVIEW_RATING, 0) AS "REVIEW_RATING", COUNT(REVIEW_RATING) AS "COUNT" ,P_NETPRICE, P_IMG1, COUNT(O.P_ID) AS "PCOUNT"
			        FROM TB_MEM_PAYMENT P
			        JOIN TB_MEM_ORDER_DETAIL O ON (P.OD_ID = O.OD_ID)
			        JOIN TB_PRODUCT G ON (O.P_ID = G.P_ID)
			        JOIN TB_PRODUCT_IMG M ON (M.P_ID = G.P_ID)
			        JOIN TB_REVIEW R ON (R.P_ID = G.P_ID)
			        GROUP BY O.P_ID, P_NAME, REVIEW_RATING,P_NETPRICE, P_IMG1, O.P_ID
			        ORDER BY PCOUNT DESC)A)B
		WHERE RNUM BETWEEN 1 AND 20
	</entry>
	
	<entry key="selectReviewOrderProduct">
		SELECT B.*
			FROM (SELECT ROWNUM RNUM, A.*
			      FROM (SELECT O.P_ID, P_NAME, NVL(REVIEW_RATING, 0) AS "REVIEW_RATING", COUNT(REVIEW_RATING) AS "COUNT" ,P_NETPRICE, P_IMG1
			        FROM TB_MEM_PAYMENT P
			        JOIN TB_MEM_ORDER_DETAIL O ON (P.OD_ID = O.OD_ID)
			        JOIN TB_PRODUCT G ON (O.P_ID = G.P_ID)
			        JOIN TB_PRODUCT_IMG M ON (M.P_ID = G.P_ID)
			        JOIN TB_REVIEW R ON (R.P_ID = G.P_ID)
			        GROUP BY O.P_ID, P_NAME, REVIEW_RATING,P_NETPRICE, P_IMG1, O.P_ID
			        ORDER BY COUNT DESC)A)B
		WHERE RNUM BETWEEN 1 AND 20
	</entry>
	
	<entry key="selectProductDetail">
		SELECT P_NAME, SEL_STORE_NAME, COUNT(REVIEW_RATING) AS "COUNT", NVL(REVIEW_RATING, 0) AS "REVIEW_RATING", P_NETPRICE,
       P_IMG1, P_IMG2, P_IMG3, P_IMG4, P_IMG5, P_IMG6, P_IMG7 ,P_IMG8 ,P_IMG9 ,P_IMG10
		FROM TB_SELLER S
		RIGHT JOIN TB_PRODUCT P ON (P.SAL_ID = S.SEL_ID)
		LEFT JOIN TB_REVIEW R ON (P.P_ID = R.P_ID)
		LEFT JOIN TB_PRODUCT_IMG G ON (P.P_ID = G.P_ID)
		WHERE P.P_ID = ?
		GROUP BY P_NAME, S.SEL_STORE_NAME, REVIEW_RATING, P_NETPRICE, P_IMG1, P_IMG2, P_IMG3, P_IMG4, P_IMG5, P_IMG6, P_IMG7 ,P_IMG8 ,P_IMG9 ,P_IMG10
	</entry>
</properties>
















