<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	<entry key="selectLatestProduct">
		SELECT B.*
				FROM (SELECT ROWNUM RNUM, A.*
				FROM(SELECT P_ID, P_NAME, NVL(REVIEW_RATING, 0) AS "REVIEW_RATING",
				COUNT(REVIEW_RATING) AS "COUNT" ,TO_CHAR( P_NETPRICE, '999,999,999,999,999') AS "P_NETPRICE", P_IMG1, P_ENROLL_DATE, P_DAY_DELIVERY
				FROM TB_REVIEW
				RIGHT JOIN TB_PRODUCT USING (P_ID)
				LEFT JOIN TB_PRODUCT_IMG USING (P_ID)
				GROUP BY P_ID, P_NAME, REVIEW_RATING,P_NETPRICE, P_IMG1, P_ENROLL_DATE, P_DAY_DELIVERY
				ORDER BY P_ENROLL_DATE DESC) A ) B
				WHERE RNUM BETWEEN 1 AND 20
	</entry>

	<entry key="selectSaleOrderProduct">
		SELECT B.*
		FROM (SELECT ROWNUM RNUM, A.*
		FROM (SELECT G.P_ID, P_NAME, NVL(R.REVIEW_RATING, 0) AS "REVIEW_RATING",
		COUNT(R.REVIEW_RATING) AS "COUNT" ,TO_CHAR( P_NETPRICE, '999,999,999,999,999') AS "P_NETPRICE", P_IMG1, P_SALES, P_DAY_DELIVERY
		FROM TB_MEM_PAYMENT P
		RIGHT JOIN TB_MEM_ORDER_DETAIL O ON (P.OD_ID = O.OD_ID)
		FULL JOIN TB_PRODUCT G ON (O.P_ID = G.P_ID)
		LEFT JOIN TB_PRODUCT_IMG M ON (M.P_ID = G.P_ID)
		LEFT JOIN TB_REVIEW R ON (R.P_ID = G.P_ID)
		GROUP BY G.P_ID, P_NAME, R.REVIEW_RATING, P_NETPRICE, P_IMG1, P_SALES, P_DAY_DELIVERY
		ORDER BY P_SALES DESC)A)B
		WHERE RNUM BETWEEN 1 AND 20
	</entry>

	<entry key="selectReviewOrderProduct">
		SELECT B.*
				FROM (SELECT ROWNUM RNUM, A.*
				FROM (SELECT O.P_ID, P_NAME, NVL(REVIEW_RATING, 0) AS "REVIEW_RATING",
				COUNT(REVIEW_RATING) AS "COUNT" ,TO_CHAR( P_NETPRICE, '999,999,999,999,999') AS "P_NETPRICE", P_IMG1, P_DAY_DELIVERY
				FROM TB_MEM_PAYMENT P
		        RIGHT JOIN TB_MEM_ORDER_DETAIL O ON (P.OD_ID = O.OD_ID)
				FULL JOIN TB_PRODUCT G ON (O.P_ID = G.P_ID)
				LEFT JOIN TB_PRODUCT_IMG M ON (M.P_ID = G.P_ID)
				LEFT JOIN TB_REVIEW R ON (R.P_ID = G.P_ID)
				GROUP BY O.P_ID, P_NAME, REVIEW_RATING,P_NETPRICE, P_IMG1, O.P_ID, P_DAY_DELIVERY
				ORDER BY COUNT DESC)A)B
		WHERE RNUM BETWEEN 1 AND 20
	</entry>

	<entry key="selectProductDetail">
		SELECT 
		    P.P_ID AS "P_ID"
		  , (SELECT SEL_NO FROM TB_SELLER S WHERE S.SEL_NO = P.SEL_NO) AS "SEL_NO"
		  , (SELECT SEL_STORE_NAME FROM TB_SELLER S WHERE S.SEL_NO = P.SEL_NO) AS "STORE_NAME"
		  , P_NAME
		  , P_STOCK
		  , NVL(REVIEW_RATING, 0) AS "REVIEW_RATING"
		  , (SELECT COUNT(REVIEW_RATING) FROM TB_REVIEW R WHERE R.P_ID = P.P_ID) AS "COUNT"
		  , TO_CHAR( P_NETPRICE, '999,999,999,999,999') AS "P_NETPRICE"
		  , P_Day_Delivery
		  , P_IMG1 || ',' || P_IMG2 || ','  || P_IMG3 || ','  || P_IMG4 || ','  || P_IMG5 || ','  || P_IMG6 || ','  || P_IMG7 || ','  || P_IMG8 || ','  || P_IMG9 || ',' || P_IMG10 AS "IMAGES"
		FROM TB_PRODUCT_IMG I
		JOIN TB_PRODUCT P ON (I.P_ID = P.P_ID)
		LEFT JOIN TB_REVIEW R ON (P.P_ID = R.P_ID)
		WHERE P.P_ID = ?
	</entry>
	
	<entry key="selectProductOption">
		SELECT OPTION_1ND_NO, OPTION_2ND_NO ,OPTION_TITLE, OPTION_2ND_CONTENT, OPTION_2ND_PRICE, OPTION_2ND_STOCK
		FROM TB_PRODUCT
		JOIN TB_1ST_OPTION USING (P_ID)
		JOIN TB_2ND_OPTION USING (OPTION_1ND_NO)
		WHERE P_ID = ?
	</entry>
</properties>
















