#MY-MENU{
    
    width: 140px;
    height: 40px;
    
    line-height: 40px;
   
}

#sibal{
    border: 1px solid lightgray;
    width: 200px;
    height: 40px;
    background-color: rgb(241, 196, 15);
    line-height: 40px;
    margin-left: 80px
}
#header1, #mainMenu{
    border: 1px solid lightgray;
    margin: 0; padding-right: 0; box-sizing: border-box;
    width: 200px;
    height: 600px;
    margin-left: 80px;
}

#mainMenu li{
    
    list-style: none;
}

#mainMenu a{
    color: black;
    text-decoration: none;
}

.subMenu{
    
    font-size: small;
}