<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/admin/ad_main.css">
    <link rel="stylesheet" href="../../resources/js/jquery-3.1.1.min.js">
    <link rel="stylesheet" href="../../resources/js/ad.js">

    <style>

        .wrapper{
            width: 1000px;
            border: 1px solid red;
        }

    </style>
</head>
<body>
    
    <div class="wrapper">
        <thead></thead>
        <tbody></tbody>
        <tfoot></tfoot>
    </div>






    <!-- Side_bar -->
    <!-- <div class="side-bar">
        <div class="logo">
            <a href="#"></a>
            <a href="#"><img src="../../resources/image/Fleuryoung.png" alt=""></a>
        </div>
        <div class="avtar">
            <div class="avtar-img">
                <img src="../../resources/image/test-flower1.jpg" alt="나의 이미지">
            </div>
            <div class="name-pos">
                <h2>판매자 이름</h2>
                <h5>회사</h5>
            </div>
        </div>
        <div class="side-bar-nav">
            <ul>
                <li>
                    <span class="nav-link">대시보드</span>
                </li>
                <li>
                    <span class="nav-link">상품관리</span>
                    <u>
                        <li>상품조회/수정</li>
                    </u>
                </li>
                <li>
                    <span class="nav-link">판매관리</span>
                    <ul>
                        <li>송장번호관리</li>
                        <li>미결제확인</li>
                        <li>구매확정내역</li>
                        <li>취소관리</li>
                        <li>반품관리</li>
                        <li>교환관리</li>
                    </ul>
                </li>
                <li>
                    <span class="nav-link">정산내역조회</span>
                </li>
                <li>
                    <span class="nav-link">Q&A관리</span>
                    <ul>
                        <li></li>
                        <li>문의관리</li>
                        <li>리뷰관리</li>
                        <li>관리자문의</li>
                    </ul>
                    <li>
                        <span class="nav-link">통계</span>
                    </li>
                </li>
            </ul> -->
        <!-- </div>



    </div> -->
</body>
</html>