<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/admin/ad_main.css">
    <link rel="stylesheet" href="../../resources/js/jquery-3.1.1.min.js">
    <link rel="stylesheet" href="../../resources/js/ad.js">
</head>
<body>
    
    <!-- Side_bar -->
    <div class="side-bar">
        <div class="logo">
            <a href="#"></a>
            <a href="#"><img src="../../resources/image/Fleuryoung.png" alt=""></a>
        </div>
        <div class="avtar">
            <div class="avtar-img">
                <img src="../../resources/image/test-flower1.jpg" alt="나의 이미지">
            </div>
            <div class="name-pos">
                <h2>판매자 이름</h2>
                <h5>회사</h5>
            </div>
        </div>
        <div class="side-bar-nav">
            <ul>
                <li>
                    <a href="#">
                        <span></span>
                        <span></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span></span>
                        <span></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span></span>
                        <span></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span></span>
                        <span></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span></span>
                        <span></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span></span>
                        <span></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span></span>
                        <span></span>
                    </a>
                </li>
            </ul>
        </div>



    </div>
</body>
</html>